<main>
    <form action="/sign-in" method="POST" class="form" id="form_sign_in">
        <h3>ĐĂNG NHẬP</h3>
        <h2>Tên đăng nhập</h2>
        <input type="text" name="email" class="form-control"/>
    
        <h2>Mật khẩu</h2>
        <input type="password" name="password" class="form-control"/>
    
     <input type="submit" value="Đăng nhập">
    </form>
</main>
    